# Output files
build/

# LaTeX intermediate files
*.synctex.gz
*.aux
*.fdb_latexmk
*.log
*.out

# Sublime files
*.sublime-workspace

# Personal details that shouldn't do into the repo
*.hidden.yaml
venv/
