{% extends "section.html" %}

{% macro listitem(item) %}
  <li>
    {% if item.description is defined %}
      <strong>{{ item.name }}</strong>: {{ item.description }}
    {% elif item.notes is defined %}
      {{ item.name }}
      <ul>
        {% for note in item.notes %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ item }}
    {% endif %}
  </li>
{% endmacro %}

{% block body %}
  {% if subsections is defined %}
    {% for subs in subsections %}
      <h4>{{ subs.name }}</h4>
      <ul>
        {% for item in subs.subitems %}
          {{ listitem(item) }}
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <ul>
      {% for item in items %}
        {{ listitem(item) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock body %}
