{% extends "section.html" %}

{% macro listitem(item) %}
  <li>
    {% if item.description is defined %}
      <span class="item-with-desc-name">{{ item.name }}</span>:
      <span class"item-desc">{{ item.description }}</span>
    {% elif item.notes is defined %}
      <span class="name">{{ item.name }}</span>
      <ul class="notes">
        {% for note in item.notes %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ item }}
    {% endif %}
  </li>
{% endmacro %}

{% block body %}
  {% if subsections is defined %}
    {% for subs in subsections %}
      <h4 class="subsection">{{ subs.name }}</h4>
      <ul class="subitems">
        {% for item in subs.subitems %}
          {{ listitem(item) }}
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <ul class="items">
      {% for item in items %}
        {{ listitem(item) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock body %}
