{% extends "section.html" %}

{% block body %}
  <ul class="cv-pubs">
    {% for pub in items %}
      <li class="pub">
        <span class="title">
          {% if pub.url is defined %}
            <a href="{{ pub.url }}">{{ pub.title }}</a>.
          {% else %}
            {{ pub.title }}
          {% endif %}
        </span>
        <br>
        <span class="authors">{{ pub.authors | replace('$', '') | replace('^', '') | replace('\'', '') | replace('[', '') | replace(']', '') | replace('Andrew Butler', '<b>Andrew Butler</b>')}}</span>.
        <span class="venuetype">{{ pub.journal }}</span>.
        <span class="date">{{ pub.month }} {{ pub.year }}</span>.
      </li>
    {% endfor %}
  </ul>
{% endblock body %}
