{% extends "section.html" %}

{% block body %}
  <ul class="cv-pubs">
    {% for pub in items %}
      <li class="pub">
        <span class="title">
          {% if pub.url is defined %}
            <a href="{{ pub.url }}">{{ pub.title }}</a>.
          {% else %}
            {{ pub.title }}
          {% endif %}
        </span>
        <br>
        <span class="authors">{{ pub.authors }}</span>.
        <br>
        <span class="venuetype">{{ pub.journal }}</span> {% if pub.venueshort is defined %}
        <span class="venueshort">({{ pub.venueshort }})</span>{% endif %}{% if pub.venuelocation is defined %},
        <span class=venuelocation>{{ pub.venuelocation }}</span>{% endif %}.
        <span class="date">{{ pub.month }} {{ pub.year }}</span>.
      </li>
    {% endfor %}
  </ul>
{% endblock body %}
